<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      ガジェットの特徴を登録しよう
    </div>
    <div class="panel-body">
      <div class="container">
        <%= form_for @gadget do |f| %>
          <div class="row">
            <div class="col-md-6 select">
              <div class="form-group">
                <labal>ガジェットタイプ</labal>
                <%= f.select :gadget_type, [["ヘッドセット", "head_set"], ["ゲーム", "game"], ["ウェアラブル", "wearable"], ["ドローン", "drone"], ["カメラ", "camera"], ["ロボット", "robot"], ["その他", "others"]], id:"gadget_type", prompt: "選択...", class: "form-control" %>
              </div>
            </div>

            <div class="col-md-6 select">
              <div class="form-group">
                <labal>承認タイプ</labal>
                <%= f.select :instant, Gadget.instants_i18n.invert, prompt: "選択...", class: "form-control" %>
              </div>
            </div>

          </div>

          <div><%= f.submit "保存", class: "btn btn-normal" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
