// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content-section-a {
  padding: 100px 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.content-section-b {
  padding: 100px 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}
section {
  padding: 100px 0; }
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; }
  section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.text-muted {
  color: #868e96!important;
}
