@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "fullcalendar";

body {
  color: #565a5c;
  background-color: #F8F8F8;
  font-family: "Varela Round", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
