@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "fullcalendar";
@import "partials/*"; // glob importing

// whole style
html {
  position: relative;
  min-height: 100%;
}

body {
  color: #565a5c;
  background-color: #F6F6F6;
  font-family: "Varela Round", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

footer {
  width: 100%;
  background-color:#c4c4c4;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

.container {
  width: 80%;
}

.text-babu, .icon-babu {
  color: #5fb955;
}

//navbar
.navbar-default {
  background-color: #FFFFFF;
}

.navbar-default .navbar-brand {
  color: #5fb955;
  font-size: 2em;
  font-weight: 400;
  padding: 20px;
}

// button
.btn {
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 9px 27px;
}

.btn-block {
  display: block;
  white-space: normal;
  width: 100%;
}

.btn-small {
  padding: 5px 15px;
  margin-top: 15px;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.btn.btn-default {
  width: 100%;
  border-color: #c4c4c4;
  background: white;
  color: #484848;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px;
}

.btn.btn-normal {
  border: 1px solid #a051a2;
  background-color: #a051a2;
}

.btn.btn-normal:active {
  outline: none;
  border-color: #812990;
  background-color: #812990;
}

.btn.btn-form {
  border: 1px solid #5fb955;
  background-color: #5fb955;
}

.btn.btn-form:active {
  outline: none;
  border-color: #066165;
  background-color: #066165;
}

.btn.btn-facebook {
  border: 1px solid #3B5998;
  background-color: #3B5998;
}

.btn.btn-facebook:active {
  outline: none;
  border-color: #2d467b;
  background-color: #2d467b;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  display: block;
}
// notification icon
.badge {
  background-color: #FF5A5F;
  position: relative;
  top: -15px;
  left: -5px;
}
// form
.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 2px;
  height: 3rem;
}
.form-group input {
  height: 45px;
  border: 1px solid #5fb955;
}

.form-group textarea {
  border: 1px solid #5fb955;
}

.form-group input[type="radio"] {
  height: 15px;
  margin-right: 10px;
}

.btn-group label {
  margin-right: 15px;
}

.form-group select {
  width: 100%;
  color: #565a5c;
  background-color: white;
  border: 1px solid #5fb955;
  border-radius: 2px;
  padding: 10px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.select:before {
  content: '\25bc';
  font-size: 1.2em;
  position: absolute;
  color: #5fb955;
  top: 30px;
  right: 30px;
  transform: scale(0.94, 0.62);
}

.form-group input[type="checkbox"] {
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  //vertical-align: top;
  border: 1.5px solid #5fb955;
  border-radius: 2px;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari */
}


.form-group input[type="checkbox"]:checked:before {
  content: '\2713';
  font-size: 1.2pm;
  position: absolute;
  color: #5fb955;
  text-align: center;
  width: 1.25em;
}

// slide bar
.sidebar-list{
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a;
}

.sidebar-link {
  color: #82888a;
  text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
  color: #CACCCD;
  text-decoration: none;
}

.active.sidebar-link {
  color: #565A5C;
  font-weight: bold;
  text-decoration: none;
}

//HOME
.banner {
  margin-top: 50px;
  margin-bottom: 50px;
}

.text-red, .icon-red {
  color: #FF5A5F;
}

.discovery-card {
  background-size: cover;
  background-position: center;
  opacity: 1;
  display: block;
  width: 300px;
  height: 200px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.discovery:hover .discovery-card {
  opacity: 0.3;
}

.middle {
  font-size: 40px;
  font-weight: bold;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.discovery:hover .middle {
  opacity: 1;
}
// panel
.panel-default .panel-heading{
  color: #ffffff;
  background-color: #5fb955;
  font-size: 18px;
  font-weight: 400;
}

.panel-heading.preview {
  padding: 0;
}

.panel-heading.preview img {
  width: 100%;
}

//avatar
.avatar-small {
  width: 28px;
}

.avatar-medium {
  width: 48px;
}

.avatar-large {
  width: 68px;
}

.avatar-xlarge {
  width: 175px;
}

.avatar-full {
  width: 100%;
}

.accept {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  height: 180px;
}
.big-gift {
  font-size: 100px;
}
